

# Package Files #
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.sh

# Eclipse
.Debug
.classpath
.cproject
.project
.settings/
.springBeans
.git
.factorypath
*.d
*.o
Debug/src/subdir.mk
Debug/makefile
Debug/objects.mk
.DS_Store
Debug/sources.mk
Debug/sdk-cpp
